In [11]:
import pandas as pd

DATA = '../data/tracks.csv'
df = pd.read_csv(DATA)

df.head(15)

,id,date,time_start,time_finish,species,prey,location,pred_size,prey_captured,prey_size,...,low_tide,tide_ht,A+,A,A?,PC,PIT,FOT,OTE,Comment
0,001,19-10-84,10:41,10:56,2,2,T6,NaN,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,002,19-10-84,11:06,11:20,2,2,T6,NaN,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,003,19-10=84,10:20,10:29,2,2,T6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,004,20-10-84,10:10,11:00,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,1.0,6.0,2.0,NaN,NaN,1.0,NaN,NaN
4,005,22-10-84,11:23,11:35,1,1,T1,1.2,1.0,3.1,...,NaN,NaN,NaN,NaN,6.0,1.0,1.0,NaN,NaN,NaN
5,006,22-10-84,11:45,11:55,1,1,T1,1.4,NaN,NaN,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
6,007,22-10-84,10:59,11:10,1,1,T1,1.2,NaN,NaN,...,13:18,0.23,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7,008,22-10-84,12:17,12:23,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,009,22-10-84,12:06,12:14,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,010,24-10-84,14:13,14:29,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,011,24-10-84,13:56,14:09,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,012,24-10-84,13:31,13:43,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,013,24-10-84,12:53,13:09,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,014,25-10-84,14:26,14:32,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,015,25-10-84,13:58,14:05,1,1,T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN